<div class="py-1 p-2 mx-full max-w-screen-xl md:px-">
<div id="register-container" class="flex container mx-auto items-center">
<aside class="w-64" aria-label="Sidebar">
  <div class="overflow-y-auto py-4 px-3 bg-gray-200 rounded dark:bg-gray-800 justify-left">
     <a href="#" class="flex items-center pl-2.5 mb-5">
      <img src="../../assets/loginlogo.png" class="mr-1 h-20 sm:h-20 justify-left" alt="Dashboard Logo" />
      <span class="justify-left text-m font-semibold whitespace-nowrap text-blue-900"> 
        TRANSFER 
      </span>
     </a>
     <ul class="space-y-2">
        <li>
           <a href="http://localhost:4200/" class="flex items-center p-2 text-base font-normal text-gray-900 
           rounded-lg dark:text-white 
           hover:bg-gray-100 dark:hover:bg-gray-700">
              <svg aria-hidden="true" class="w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 
              group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" 
              xmlns="http://www.w3.org/2000/svg">
              <path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z">
              </path>
              <path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z">
              </path>
            </svg>
              <span class="ml-3">Dashboard</span>
           </a>
        </li>
        <li>
           <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white 
           hover:bg-gray-100 dark:hover:bg-gray-700">
              <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 
              dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" 
              viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 
              2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 
              2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 
              01-2 2h-2a2 2 0 01-2-2v-2z">
            </path>
          </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">
                My Accounts
              </span>
              <span class="inline-flex justify-center items-center px-2 ml-3 text-sm font-medium text-gray-800 
              bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300">
              Pro
            </span>
           </a>
        </li>
        <li>
           <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white 
           hover:bg-gray-100 dark:hover:bg-gray-700">
              <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 
              dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" 
              viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 
              100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
            </path>
          </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">
                Profile
              </span>
           </a>
        </li>
        <li>
           <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white 
           hover:bg-gray-100 dark:hover:bg-gray-700">
              <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 
              dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" 
              viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 2a4 4 0 00-4 
              4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 
              5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd">
            </path>
          </svg>
              <span class="flex-1 ml-3 whitespace-nowrap">
                Deposit
              </span>
           </a>
        </li>
     </ul>
  </div>
</aside> 
    <div class="w-full max-w-xs">
    </div>

      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 justify-center">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="from">
            From:
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight 
          focus:outline-none focus:shadow-outline" id="from" type="text" placeholder="Enter Account ID" 
          (keyup)="onKey($event, 'from')" >
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="to">
            To:
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight 
          focus:outline-none focus:shadow-outline" id="to" type="text" placeholder="Enter Account ID"  
          (keyup)="onKey($event, 'to')">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="Amount">
            Amount:
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight 
          focus:outline-none focus:shadow-outline" id="amount" type="text" placeholder="Enter Amount" 
          (keyup)="onKey($event, 'amount')">
        </div>
      
        <div class="flex items-center justify-center">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded 
          focus:outline-none focus:shadow-outline" type="button" (click)="onTransaction()">
            Send 
          </button>
        </div>
      </form>
    </div>
  </div>
