<div id="dashboard-component" class="container mx-auto grid">

        <div class="container flex flex-wrap justify-between items-center mx-auto">
          <a href="#" class="flex items-center">
            <img src="../../assets/loginlogo.png" class="mr-1 h-20 sm:h-20 justify-left" alt="Dashboard Logo" />
                <span class="justify-left text-xl font-bold whitespace-nowrap dark:text-white"> 
                  DASHBOARD 
                </span>
            </a>
            
            <div class="flex items-center justify-left "> 
              <img class="mr-2 w-8 h-8 rounded-full" src="../../assets/Avatar-Profile-PNG-Picture.png" alt="user photo">
              <div class="flex items-center text-sm font-medium text-gray-900 rounded-full hover:text-blue-600 
              dark:hover:text-blue-500 md:mr-0 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 
              dark:text-white"> 
              <span class="justify-between text-xl font-bold whitespace-nowrap dark:text-white">
                {{user ? user.Username : ''}}
              </span> 
              </div> 
       
              <button (click)="logout()" class="bg-blue-500 hover:bg-blue-800 
              text-white font-bold py-2 px-4 rounded-lg focus:outline-black focus:shadow-outline" >
                Logout
              </button>
            </div>
        </div>
      
      <nav class="bg-blue-100 border-gray-200 dark:bg-gray-900 dark:border-gray-800">
        <ul class="flex flex-col bg-gray-50 rounded-lg border border-blue-800 md:flex-row md:space-x-8 md:mt-0
        md:text-sm md:font-medium md:bg-blue-200">
        <div class="py-3 mx-auto max-w-screen-xl md:px-6">
          <div class="flex items-center justify-center">
              <ul class="flex flex-row mt-0 mr-6 space-x-8 text-sm font-bold">
                  <li>
                      <a href="http://localhost:4200/#" class="text-black-900 block p-2 rounded hover:bg-blue-400 dark:text-white" 
                        aria-current="page">
                        Dashboard
                      </a>
                  </li>
                  <li>
                      <a href="#" class="text-black-900 block p-2 rounded hover:bg-blue-400 dark:text-white">
                        Deposit
                      </a>
                  </li>
                  <li>
                      <a href="#" class="text-black-900 block p-2 rounded hover:bg-blue-400 dark:text-white hover:underline">
                        Loans
                      </a>
                  </li>
                  <li>
                      <a href="#" class="text-black-900 block p-2 rounded hover:bg-blue-400 dark:text-white hover:underline">
                        Inquiry
                      </a>
                  </li>
              </ul>
          </div>
      </div>
      </ul>
    </nav>

  <div class="mb-4 mt-24 justify-left">
    <div class="mx-auto">

      <app-account-balance *ngIf="user" [user]="user"></app-account-balance>


    </div> 
  </div>
  
</div>
