#register-container {
    min-height: 100vh;
    min-width: 100vw;
    color: white;
    position: relative;
    background-image: url('../../assets/loginbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 80%;
    .logo {
      max-height: 150px;
      margin: auto;
      margin-bottom: 5px;
    }
    .notification {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }